@model SWMGEGCSS.Models.Gestionar_I_EViewModel
@{
    ViewBag.Title = "Actualizar_Ing_Egr";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h2>Actualizar_Ing_Egr</h2>

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div>
            @Html.HiddenFor(model => model.ingresos_egresos.ing_egr_id)
        </div>
        <div class="row mt-5 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        NOMBRE
                    </label>
                </div>
                @Html.EditorFor(model => model.ingresos_egresos.ing_egr_nombre, new
                {
                   htmlAttributes = new { @id = "ing-egr-nombre", @class = "text-center form-control", @type = "text-center form-control" }
                })
                <div id="error-emp-razon-social" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        DESCRIPCIÓN
                    </label>
                </div>
                @Html.EditorFor(model => model.ingresos_egresos.ing_egr_descripcion, new
                {
                   htmlAttributes = new { @id = "ing-egr-descripcion", @class = "text-center form-control" }
                })
                <div id="error-emp-direccion" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        FECHA
                    </label>
                </div>
                @Html.EditorFor(model => model.ingresos_egresos.ing_egr_fecha, new
               {
                   htmlAttributes = new { @id = "ing-egr-fecha", @class = "text-center form-control" }
               })
                <div id="error-emp-sigla" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        INGRESO
                    </label>
                </div>
                @Html.EditorFor(model => model.ingresos_egresos.ing_egr_ingrso, new
                {
                   htmlAttributes = new { @id = "ing-egr-ingreso", @class = "text-center form-control" }
                })
                <div id="error-emp-telefono" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        MONTO
                    </label>
                </div>
                @Html.EditorFor(model => model.ingresos_egresos.ing_egr_monto, new
               {
                   htmlAttributes = new { @id = "ing-egr-monto", @class = "text-center form-control" }
               })
                <div id="error-emp-ruc" class="errordiv"></div>
            </div>

        </div>


        <div id="errordiv"></div>
        <div class="row mt-4 pl-2">
            <div class="col-12 col-sm-3 col-md-3">

                <button type="submit" class="btn btn-success" id="boton-Actualizar">
                    <i class="fa fa-check-circle"></i>
                    Actualizar Ingreso-Egreso
                </button>


            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_I_E","Gerente")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
        </div>



    }
</div>
