@model SWMGEGCSS.Models.GestionarCitasViewModel
@{
    ViewBag.Title = "Modificar_Cita";
    var fecha = "";
    var hora = "";
    var empresa = "";
    var encargado = Model.Citas.usu_usuario;
    var estado = Model.Citas.estado_cita_id;
    var list_empresa = Model.EmpresaModel.listempresas;
    var list_usuario = Model.UsuarioModel.list_usuario;
    var list_estado_cita = Model.list_estado_cita;
    if(Model.Citas != null)
    {
        fecha = Model.Citas.cita_fecha.ToString("yyyy-MM-dd");
        hora = Model.Citas.cita_fecha.ToString("hh:mm:ss");
        empresa = Model.Citas.cita_empresa;
    }
    if(Model.EmpresaModel.listempresas != null)
    {
        list_empresa = Model.EmpresaModel.listempresas;
    }
    if(Model.UsuarioModel.list_usuario != null)
    {
        list_usuario = Model.UsuarioModel.list_usuario;
    }
    
}

<h2 class="ml-3">Modificar Cita</h2>


<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Fecha
                </label>
                <input type="date" name="cita_fecha" value="@fecha" class="text-center form-control" />
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Hora
                </label>
                <input type="time" name="Citas.cita_fecha" value="@hora" class="text-center form-control" />
            </div>


        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Empresa
                </label>
                @Html.EditorFor(model => model.Citas.cita_empresa, new
                {
                   htmlAttributes = new { @id = "cita_empresa", @class = "text-center form-control" }
                })

            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Representante
                </label>
                @Html.EditorFor(model => model.Citas.cita_representante, new
                {
                   htmlAttributes = new { @id = "cita_representante", @class = "text-center form-control" }
                })
            </div>

        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Telefono
                </label>
                @Html.EditorFor(model => model.Citas.cita_telefono, new
                {
                   htmlAttributes = new { @id = "cita_telefono", @class = "text-center form-control" }
                })
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Correo
                </label>
                @Html.EditorFor(model => model.Citas.cita_correo, new
                {
                   htmlAttributes = new { @id = "cita_correo", @class = "text-center form-control" }
                })
            </div>
        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Encargado
                </label>
                <select class="custom-select" id="usu_citado" name="usu_citado" value="xd">
                    <option class="font-weight-bolder">@encargado</option>
                    @foreach (var item in list_usuario)
                    {
                        if (encargado != item.usu_usuario)
                        {
                            <option value="@item.usu_codigo = ">@item.usu_usuario</option>
                        }

                    }
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Comentario
                </label>
                @Html.EditorFor(model => model.Citas.cita_comentario, new
                {
                   htmlAttributes = new { @id = "cita_comentario", @class = "text-center form-control" }
                })
            </div>
        </div>
        <div class="row mt-3 pl-3">

            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Estado de la Cita
                </label>
                <select class="custom-select" id="estado_cita_id" name="estado_cita_id">
                    <option class="font-weight-bolder">Elige una opción</option>
                    @foreach (var item in list_estado_cita)
                    {
                        <option value="@item.estado_cita_id">@item.estado_cita_nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-4">

            <div class="col-12 col-sm-4 col-md-4 text-center">
                <a href="@Url.Action("Gestionar_Citas", "Secretario")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4 text-center">
                <button type="submit" class="btn btn-success" id="boton-Modificar">
                    <i class="fa fa-check-circle"></i>
                    Modificar Cita
                </button>
            </div>

        </div>





    }
</div>

