@model SWMGEGCSS.Models.GestionarCitasViewModel
@{
    ViewBag.Title = "Modificar_Cita";
    var fecha = "";
    var hora = "";
    var fecha_atendido = "";
    var hora_atendido = "";
    var empresa = "";
    var encargado_id = Model.Citas.usu_citado;
    var estado = Model.Citas.estado_cita_id;
    var estado_nombre = Model.Citas.estado_cita_nombre;
    var encargado = Model.Citas.det_usu_nombre;

    var list_empresa = Model.EmpresaModel.listempresas;
    var list_cita = Model.listCitas;
    var list_usuario = Model.DetalleUsuarioModel.list_usuario;
    var list_estado_cita = Model.list_estado_cita;
    if (Model.Citas != null)
    {
        fecha = Model.Citas.cita_fecha.ToString("yyyy-MM-dd");
        hora = Model.Citas.cita_fecha.ToString("hh:mm");
        fecha_atendido = Model.Citas.cita_fecha_atendido.ToString("yyyy-MM-dd");
        hora_atendido = Model.Citas.cita_fecha_atendido.ToString("hh:mm");
        empresa = Model.Citas.cita_empresa;

    }
    if (Model.EmpresaModel.listempresas != null)
    {
        list_empresa = Model.EmpresaModel.listempresas;
    }
    if (Model.DetalleUsuarioModel.list_usuario != null)
    {
        list_usuario = Model.DetalleUsuarioModel.list_usuario;

    }

}

<h2 class="ml-3">Modificar Cita</h2>


<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div>
            <input type="hidden" name="cita_id" value="@Model.Citas.cita_id" />
        </div>
        <div class="row mt-1 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Fecha
                </label>
                <input type="date" id="cita_fecha" name="cita_fecha" value="@fecha" class="text-center form-control" />
                <div id="error-cita-fecha" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Hora
                </label>
                <input type="time" id="cita_hora" name="cita_hora" value="@hora" class="text-center form-control" />
                <div id="error-cita-hora" class="errordiv"></div>
            </div>


        </div>
        <div class="row mt-1 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Empresa
                </label>
                <input type="text" id="cita_empresa" name="cita_empresa" class="text-center form-control" value="@Model.Citas.cita_empresa" readonly="readonly"/>
                <div id="error-cita-empresa" class="errordiv"></div>

            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Representante
                </label>
                <input type="text" id="cita_representante" name="cita_representante" class="text-center form-control" value="@Model.Citas.cita_representante" readonly="readonly" />
                <div id="error-cita-representante" class="errordiv"></div>
            </div>

        </div>
        <div class="row mt-1 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Telefono
                </label>
                <input type="text" id="cita_telefono" name="cita_telefono" class="text-center form-control" value="@Model.Citas.cita_telefono" />
                <div id="error-cita-telefono" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Correo
                </label>
                <input type="text" id="cita_correo" name="cita_correo" class="text-center form-control" value="@Model.Citas.cita_correo" />
                <div id="error-cita-correo" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-1 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Encargado
                </label>
                <select class="custom-select" id="usu_citado" name="usu_citado">
                    <option class="font-weight-bolder" value="@encargado_id">@encargado</option>
                    @foreach (var item in list_usuario)
                    {
                        if (encargado != item.det_usu_nombre)
                        {
                            <option value="@item.usu_codigo">@item.det_usu_nombre</option>
                        }

                    }
                </select>
                <div id="error-cita-encargado" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Estado de la Cita
                </label>
                <select class="custom-select" id="estado_cita_id" name="estado_cita_id">
                    <option class="font-weight-bolder" value="@estado">@estado_nombre</option>
                    @foreach (var item in list_estado_cita)
                    {
                        if (estado != item.estado_cita_id)
                        {
                            <option value="@item.estado_cita_id">@item.estado_cita_nombre</option>
                        }

                    }
                </select>
            </div>
        </div>


        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Fecha Realiza
                </label> 
                <input type="date" name="cita_fecha_atendido" id="cita_fecha_atendido" class="text-center form-control" value="@fecha_atendido"/>
                <div id="error-cita-fecha-atendido" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Hora Realizada
                </label>
                <input type="time" name="cita_hora_atendido" id="cita_hora_atentido" class="text-center form-control" value="@hora_atendido" />
            </div>


        </div>


        <div class="row mt-1 pl-3">


            <div class="col-12 col-sm-12 col-md-12">
                <label class="font-weight-bolder">
                    Comentario
                </label>

                <input type="text" id="cita_comentario" name="cita_comentario" class="text-center form-control" value="@Model.Citas.cita_comentario" />
                <div id="error-cita-comentario" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-3">

            <div class="col-12 col-sm-4 col-md-4 text-center">
                <a href="@Url.Action("Gestionar_Citas", "Secretario")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4 text-center">
                <button type="submit" class="btn btn-success" id="boton-Modificar" >
                    <i class="fa fa-check-circle"></i>
                    Modificar Cita
                </button>
            </div>

        </div>

    }
</div>
<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MAURICIO/scriptsModificarCitas.js"></script>
}

