@model SWMGEGCSS.Models.GestionarCitasViewModel
@{
    ViewBag.Title = "Registrar_Cita";
    var list_empresa = Model.EmpresaModel.listempresas;
    var list_usuario = Model.DetalleUsuarioModel.list_usuario;
    if (Model.EmpresaModel.listempresas != null)
    {
        list_empresa = Model.EmpresaModel.listempresas;
    }
    if (Model.DetalleUsuarioModel.list_usuario != null)
    {
        list_usuario = Model.DetalleUsuarioModel.list_usuario;
    }
}



<h2 class=" pl-3 ml-3 mt-3 mb-3">Registrar Cita</h2>

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Fecha
                </label>
                @Html.EditorFor(model => model.citas.cita_fecha, new
               {
                  htmlAttributes = new { @id = "cita_fecha", @class = "form-control", @type = "date" }
               })
                <div id="error-cita-fecha" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Hora
                </label>

                <input type="time" name="cita_hora" id="cita_hora" class="text-center form-control" />
            </div>


        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Empresa
                </label>
                @*<select class="custom-select" id="cita_empresa" name="cita_empresa">
                    <option class="font-weight-bolder" value="Elige una opcion">Elige una opcion</option>
                    @foreach (var item in list_empresa)
                    {
                        <option value="@item.emp_razon_social">@item.emp_razon_social</option>
                    }
                </select>*@
                <input type="text" class="form-control" id="cita_empresa" name="cita_empresa" data-exp-autocomplete="@Url.Action("AutoCompleteCita")" />
                <div id="error-cita-empresa" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Representante
                </label>
                @Html.EditorFor(model => model.citas.cita_representante, new
                {
                   htmlAttributes = new { @id = "cita_representante", @class = "text-center form-control" }
                })
                <div id="error-cita-representante" class="errordiv"></div>
            </div>
            
        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Telefono
                </label>
                @Html.EditorFor(model => model.citas.cita_telefono, new
                {
                   htmlAttributes = new { @id = "cita_telefono", @class = "text-center form-control" }
                })
                <div id="error-cita-telefono" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Correo
                </label>
                @Html.EditorFor(model => model.citas.cita_correo, new
                {
                   htmlAttributes = new { @id = "cita_correo", @class = "text-center form-control" }
                })
                <div id="error-cita-correo" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Encargado
                </label>
                <select class="custom-select" id="usu_citado" name="usu_citado">
                    <option class="font-weight-bolder">Elige una opcion</option>
                    @foreach (var item in list_usuario)
                    {
                        <option value="@item.usu_codigo">@item.det_usu_nombre</option>
                    }
                </select>
                <div id="error-cita-encargado" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Comentario
                </label>
                @Html.EditorFor(model => model.citas.cita_comentario, new
                {
                   htmlAttributes = new { @id = "cita_comentario", @class = "text-center form-control" }
                })
                <div id="error-cita-comentario" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-4 pl-3">
            <div class="col-12 col-sm-3 col-md-3">
                <button type="submit" class="btn btn-success" id="boton-Registrar">
                    <i class="fa fa-check-circle"></i>
                    Registrar Empresa
                </button>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_Citas", "Secretario")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
        </div>
    }


</div>
<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MAURICIO/scriptsRegistrarCita.js"></script>
}

