@model SWMGEGCSS.Models.GestionarCitasViewModel
@{
    ViewBag.Title = "Registrar_Cita";
}

<h2 class=" pl-3 ml-3 mt-3 mb-3">Registrar Cita</h2>

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Fecha
                </label>
                @Html.EditorFor(model => model.citas.cita_fecha, new
               {
                  htmlAttributes = new { @id = "cita_fecha", @class = "form-control", @type = "date" }
               })
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Hora
                </label>
                @Html.EditorFor(model => model.citas.cita_fecha, new
               {
                  htmlAttributes = new { @id = "cita_hora", @class = "form-control", @type = "time" }
               })
            </div>


        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Empresa
                </label>

                <select class="custom-select" id="estado" name="estado">
                    <option>Esta Semana</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Representante
                </label>
                @Html.EditorFor(model => model.citas.cita_representante, new
                {
                   htmlAttributes = new { @id = "cita_representante", @class = "text-center form-control" }
                })
            </div>

        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Telefono
                </label>
                @Html.EditorFor(model => model.citas.cita_telefono, new
                {
                   htmlAttributes = new { @id = "cita_telefono", @class = "text-center form-control" }
                })
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Correo
                </label>
                @Html.EditorFor(model => model.citas.cita_correo, new
                {
                   htmlAttributes = new { @id = "cita_correo", @class = "text-center form-control" }
                })
            </div>
        </div>
        <div class="mt-4">
            <div class="col-12 col-sm-6 col-md-12">
                <label class="font-weight-bolder">
                    Comentario
                </label>
                @Html.EditorFor(model => model.citas.cita_comentario, new
                {
                   htmlAttributes = new { @id = "cita_comentario", @class = "text-center form-control" }
                })
            </div>
        </div>
        <div class="row mt-4 pl-3">
            <div class="col-12 col-sm-3 col-md-3">
                <button type="submit" class="btn btn-success" id="boton-Registrar">
                    <i class="fa fa-check-circle"></i>
                    Registrar Empresa
                </button>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_Citas", "Secretario")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
        </div>





    }
</div>

