@model SWMGEGCSS.Models.GestionarEmpresaViewModel
@{
    ViewBag.Title = "Registrar_Empresa";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
<h2 class="ml-3" y>Registrar Empresa</h2>
@section Scripts{
    <script src="~/Scripts/Scripts_TP/LAO LAM/scriptRegistrarEmpresas.js"></script>
}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row mt-5 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        RAZÓN SOCIAL
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_razon_social, new
                {
                   htmlAttributes = new { @id = "emp-razon-social", @class = "text-center form-control", @type = "text-center form-control" }
                })
                <div id="error-emp-razon-social" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        DIRECCIÓN
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_direccion, new
                {
                   htmlAttributes = new { @id = "emp-direccion", @class = "text-center form-control" }
                })
                <div id="error-emp-direccion" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        SIGLAS
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_sigla, new
               {
                   htmlAttributes = new { @id = "emp-sigla", @class = "text-center form-control" }
               })
                <div id="error-emp-sigla" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        NÚMERO DE CONTACTO
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_telefono, new
                {
                   htmlAttributes = new { @id = "emp-telefono", @class = "text-center form-control" }
                })
                <div id="error-emp-telefono" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        RUC
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_ruc, new
               {
                   htmlAttributes = new { @id = "emp-ruc", @class = "text-center form-control" }
               })
                <div id="error-emp-ruc" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        FAX
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_fax, new
               {
                   htmlAttributes = new { @id = "emp-fax", @class = "text-center form-control" }
               })
                <div id="error-emp-fax" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        REPRESENTANTE LEGAL
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_representante, new
               {
                   htmlAttributes = new { @id = "emp-representante", @class = "text-center form-control" }
               })
                <div id="error-emp-representante" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        EMAIL
                    </label>
                </div>
                @Html.EditorFor(model => model.empresas.emp_email, new
               {
                   htmlAttributes = new { @id = "emp-email", @class = "text-center form-control" }
               })
                <div id="error-emp-email" class="errordiv"></div>
            </div>
        </div>

        <div id="errordiv"></div>
        <div class="row mt-4 pl-2">
            <div class="col-12 col-sm-3 col-md-3">

                <button type="submit" class="btn btn-success" id="boton-Registrar">
                    <i class="fa fa-check-circle"></i>
                    Registrar Empresa
                </button>


            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_Empresas","Gerente")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
        </div>










    }


</div>



