@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel
@{
    var listaTotalActividades = Model.List_Actividades;
    var listaPlanActividad = Model.List_Actividades_planeadas;
    var listaPlanes = Model.plans;
    int count = 0;
}

<div class="container-fluid" id="tablaActividades">
    <form form id="form">
        @if (listaTotalActividades != null)
        {
            <div class="row mt-2 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-8 col-sm-8 col-md-8">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="bg-success">
                                <tr class="text-center">
                                    <th scope="col">#</th>
                                    <th scope="col">Actividad </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listaTotalActividades)
                                {
                                    count = count + 1;
                                    //var plan_id = listaPlanes.plan_id;
                                    //data-id-act="@item.act_id" data-id-plan="@plan_id" data-url="@Url.Action("_ModalAgregarActividadesPlanificadas", "Plan")" data-id-target="#RegistrarActPlan"
                                    <tr class="text-center">
                                        <th scope="row">@count</th>
                                        <td>@item.act_nombre</td>
                                        <td>
                                            <button class="btn btn-success btnModal" type="button" data-id-act="@item.act_id" data-url="@Url.Action("_ModalRegistrarActividadesPlanificadas","Plan")" data-id-target="#RegistrarActividad">
                                                <i class="fa fa-plus-circle"></i>
                                                Agregar a la Planificacion
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pl-2">
                <div class="col-12 col-sm-3 col-md-3">

                </div>
            </div>
            @Html.Action("_ModalRegistrarActividadesPlanificadas", "Plan")
        }
    </form>
</div>

