@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel

@{
    ViewBag.Title = "Actualizar_Plan_de_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    //retorna un lista auxiliar de actividades planeadas
    var listaPlanActividadAux = Model.List_Actividades_planeadas_aux;
    var listaPlanActividad = Model.List_Actividades_planeadas;

    //retorna la lista de todas las actividades
    var listaTotalActividades = Model.List_Actividades;

    //retorna todos los tipod de servicio vigenetes
    var listaTotalTipoServicio = Model.tipoServicioModel.ListtipoServicio;
    var listaTotalEstadoPlan = Model.lista_plan_estado;
    var costoTotalPlan = 0;


    var plan_fecha = "";
    var count = 0;
    var count1 = 0;
    if (Model.plans_aux != null)
    {
        plan_fecha = Model.plans_aux.plan_fecha.ToString("yyyy-MM-dd");

    }

}
<link href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" rel="stylesheet" />
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<h2 class="text-center">Actualizar Plan de Proyectos</h2>

<div class="container-fluid">
    <form id="form">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.plans_aux.plan_id)
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Nombre del Plan del Proyecto
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_nombre, new
           {
               htmlAttributes = new { @id = "plan-nombre", @class = "text-center form-control" }
           })
                <div id="error-plan-nombre" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Fecha del Plan del Proyecto
                    </label>
                </div>
                <!--<input type="date" name="plans.plan_fecha" value="Model.plans_aux.plan_fecha.ToString("yyyy-MM-dd")" class="text-center form-control" />-->

                @Html.EditorFor(model => model.plans_aux.plan_fecha, new
               {
               htmlAttributes = new
               {
                   @id = "plan-fecha",
                   @class = "text-center form-control",
                   @onkeydown = "return false",
                   @type = "date",
                   @Value = Model.plans_aux.plan_fecha.ToString("yyyy-MM-dd")

               }
               })
                <div id="error-plan-fecha" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Nombre de la empresa
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.emp_razon_social, new
           {
               htmlAttributes = new {
                   @class = "text-center form-control",
                   @id = "plan-emp",
                   @dataid = Url.Action("CompletarNombreEmpresas", "Plan")

               }
           })
                <div id="error-plan-emp" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Estado del plan
                    </label>
                </div>
                @Html.DropDownListFor(model => model.plans_aux.plan_estado_nobre, new SelectList(listaTotalEstadoPlan, "plan_estado_nombre", "plan_estado_nombre",Model.plans_aux.plan_estado_nobre),

                   htmlAttributes : new { @id = "plan-estado", @class = "text-center form-control"})

                
                <div id="error-plan-estado" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Costo del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_costo, new
           {
               htmlAttributes = new {
                   @id = "plan-costo",
                   @class = "text-center form-control",
                   @readonly = "readonly",
                   @Value = Session["costoTotalPlan"]
               }
           })
                <div id="error-plan-costo" class="errordiv"></div>
            </div>
            <!--/div-->
            <!--div class="row mt-2 pl-2"-->
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Tipo de servicio del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.tipo_servicio_nombre, new
                {
                    htmlAttributes = new { @id = "plan-tipo-servicio", @class = "text-center form-control", @dataid = Url.Action("CompletarNombreTipoServicio", "Plan") }
                })

                
                <!--<select class="text-center form-control" , id="plan-tipo-servicio">
        foreach (var item in listaTotalTipoServicio)
        {
            <option value="item.tipo_servicio_id">item.tipo_servicio_nombre</option>
            //Session["tipoServicioNombre"] = item.tipo_servicio_id;
        }

    </select>-->
                <div id="error-plan-tipo-servicio" class="errordiv"></div>
            </div>
            <!--/div-->
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Tiempo del plan (en Dias)
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_tiempo, new
           {
               htmlAttributes = new {
                   @id = "plan-tiempo",
                   @class = "text-center form-control",
                   @readonly = "readonly",
                   @Value = Session["tiempoTotalPlan"]
                    }
                })
                <div id="error-plan-tiempo" class="errordiv"></div>
            </div>
        </div>
        <h3 class="text-center">Actividades del Servicio</h3>
        <!--LISTA DE TAREAS PLANIFICADAS-->
        <div class="row mt-4 pl-2">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Actividad </th>
                                <th scope="col">Plazo Aprox.</th>
                                <th scope="col">Cantidad Max</th>
                                <th scope="col">Cantidad Disp</th>
                                <th scope="col">Funciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in listaTotalActividades)
                            {
                                count = count + 1;

                                var listaActividades = listaPlanActividad.Find(x => x.act_id == item.act_id);
                                //var plan_id = listaPlanActividad.ElementAt(0).plan_id;
                                var plan_id = Model.plans_aux.plan_id;
                                <tr class="text-center">
                                    <th scope="row">@count</th>
                                    @{ var cantidadDisp = @item.act_cantidad_maxima;}

                                    <td>@item.act_nombre</td>
                                    <td>@item.act_plazo </td>
                                    <td>@item.act_cantidad_maxima</td>
                                    <td>@cantidadDisp</td>
                                    <td>
                                        <button class="btn btn-success btnModal3" data-id-act="@item.act_id" data-id-plan="@plan_id" data-url="@Url.Action("_ModalAgregarActividadesPlanificadas","Plan")" data-id-target="#RegistrarActPlan">
                                            <i class="fa fa-plus-circle"></i>
                                            Agregar a la Planificacion
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!---------------------------------->

        <h3 class="text-center">Actividades Planificadas</h3>
        <!--LISTA DE TAREAS PLANIFICADAS-->
        <div class="row mt-4 pl-2">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Actividad </th>
                                <th scope="col">Costo act</th>
                                <th scope="col">Tiempo Aprox</th>
                                <th scope="col">Funciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List_Actividades_planeadas)
                            {
                                count1 = count1 + 1;

                                var listaActividades = listaPlanActividad.Find(x => x.act_plan_nombre == item.act_plan_nombre);
                                //var plan_id = listaPlanActividad.ElementAt(0).plan_id;
                                var plan_id = Model.plans_aux.plan_id;
                                <tr class="text-center">
                                    <th scope="row">@count1</th>
                                    <td>@item.act_plan_nombre</td>
                                    <td>@item.act_plan_costo </td>
                                    <td>@item.act_plan_tiempo</td>
                                    <td>
                                        <button class="btn btn-danger btnModal2" data-id-plan="@listaActividades.act_plan_id" data-url="@Url.Action("_ModalEliminarActividadesPlanificadas","Plan")" data-id-target="#EliminarActPlan">
                                            <i class="fa fa-times-circle"></i>
                                            Eliminar
                                        </button>
                                        <button class="btn btn-warning btnModal" data-id-plan="@listaActividades.act_plan_id" data-url="@Url.Action("_ModalActualizarActividadesPlanificadas","Plan")" data-id-target="#ActualizarActPlan">
                                            <i class="fa fa-edit" style="color:white !important"></i>
                                            Actualizar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-3 col-md-3">
                <button type="button" id="btnActualizarPlan" class="btn btn-warning rounded-pill">
                    <i class="fa fa-edit" style="color:white !important"></i>
                    Actualizar

                </button>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_Plan_Proyecto","Gerente",null)" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar

                </a>
            </div>
        </div>
        <div class="row mt-4 pl-2"></div>
    </form>
    @Html.Action("_ModalActualizarActividadesPlanificadas", "Plan")
    @Html.Action("_ModalEliminarActividadesPlanificadas", "Plan")
    @Html.Action("_ModalAgregarActividadesPlanificadas", "Plan")
</div>


@section Scripts{
    <!--<script src="~/Scripts/Scripts_TP/PIERO/scriptsActualizarPlan.js"></script>-->
    <script src="~/Scripts/Scripts_TP/COLOMBO/ActualizarActividadesPlaneadas.js"></script>
    <script src="~/Scripts/Scripts_TP/COLOMBO/EliminarActividadesPlaneadas.js"></script>
    <script src="~/Scripts/Scripts_TP/COLOMBO/RegistrarActividadesPlaneadas.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
    <script src="~/Scripts/Scripts_TP/COLOMBO/ActualizarPlan.js"></script>
}
