@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel

@{
    ViewBag.Title = "Actualizar_Plan_de_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var listaTareaPlan = Model.List_Actividades_planeadas;
    var plan_fecha = "";
    var count = 0;
    if (Model.plans_aux != null)
    {
        plan_fecha = Model.plans_aux.plan_fecha.ToString("yyyy-MM-dd");
    }

}
<link href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" rel="stylesheet" />
<h2>Actualizar_Plan_de_Proyectos</h2>

<div class="container-fluid">
    <form id="form">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.plans_aux.plan_id)
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Nombre del Plan del Proyecto
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_nombre, new
                {
                    htmlAttributes = new { @id = "plan-nombre", @class = "text-center form-control" }
                })
                <div id="error-plan-nombre" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Fecha del Plan del Proyecto
                    </label>
                </div>
                <!--<input type="date" name="plans.plan_fecha" value="Model.plans_aux.plan_fecha.ToString("yyyy-MM-dd")" class="text-center form-control" />-->

                <input id="plan-fecha" type="date" name="plans_aux.plan_fecha" value="@plan_fecha" class="text-center form-control" onkeydown="return false" />
                <div id="error-plan-fecha" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Nombre de la empresa
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.emp_razon_social, new
           {
               htmlAttributes = new {
                   @class = "text-center form-control", @id = "plan-emp"

               }
           })
                <div id="error-plan-emp" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Estado del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_estado_nobre, new
                {
                   htmlAttributes = new { @class = "text-center form-control" , }
                })
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Costo del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_costo, new
                {
                   htmlAttributes = new { @id = "plan-costo", @class = "text-center form-control" }
                })
                <div id="error-plan-costo" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Tipo de servicio del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.tipo_servicio_nombre, new
           {
               htmlAttributes = new { @class = "text-center form-control", @id = "plan-tipo-servicio" }
           })
                <div id="error-plan-tipo-servicio" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Tiempo del plan (en años)
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_tiempo, new
                {
                   htmlAttributes = new { @id = "plan-tiempo", @class = "text-center form-control" }
                })
                <div id="error-plan-tiempo" class="errordiv"></div>
            </div>
        </div>

        <!--LISTA DE TAREAS PLANIFICADAS-->

        <div class="col-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-success">
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Actividad Planificada</th>
                            <th scope="col">Costo de la Act Planificada</th>
                            <th scope="col">Tiempo</th>
                            <th scope="col">Actividad</th>
                            <th scope="col">Tiempo del plan</th>
                            <th scope="col">FUNCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in listaTareaPlan)
                        {
                            count = count + 1;
                            <tr class="text-center">
                                <th scope="row">@count</th>
                                <td>@item.act_plan_nombre</td>
                                <td>@item.act_plan_costo</td>
                                <td>@item.act_plan_tiempo</td>
                                <td>@item.act_id</td>
                                <td>
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"></i>
                                        @Html.ActionLink("Actualizar Plan", "Actualizar_Plan_de_Proyectos", "Plan", new { id = item.plan_id }, new { @style = "color: white !important;text-decoration :none !important" })
                                    </button>

                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times"></i>
                                        Eliminar Plan
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>




        <!---------------------------------->
        <div class="row mt-4 pl-2">
            <div class="col-12 col-sm-3 col-md-3">
                <button type="submit" id="boton-Actualizar" class="btn btn-success">
                    <i class="fa fa-check-circle"></i>
                    Actualizar
                </button>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_Plan_Proyecto","Gerente",null)" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
        </div>
    </form> 
</div>


@section Scripts{
    <script src="~/Scripts/Scripts_TP/PIERO/scriptsActualizarPlan.js"></script>
}