@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel

@{
    ViewBag.Title = "Actualizar_Plan_de_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";

    var plan_fecha = "";
    if (Model.plans_aux != null)
    {
        plan_fecha = Model.plans_aux.plan_fecha.ToString("yyyy-MM-dd");
    }

}

<h2>Actualizar_Plan_de_Proyectos</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<div class="container-fluid">
    <form id="form">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.plans_aux.plan_id)
        </div>
        //@Html.HiddenFor(model => model.plans.plan_id)
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Nombre del Plan del Proyecto
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_nombre, new
                {
                    htmlAttributes = new { @id = "plan-nombre", @class = "text-center form-control" }
                })
                <div id="error-plan-nombre" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Fecha del Plan del Proyecto
                    </label>
                </div>
                <!--<input type="date" name="plans.plan_fecha" value="Model.plans_aux.plan_fecha.ToString("yyyy-MM-dd")" class="text-center form-control" />-->

                <input type="date" name="plans_aux.plan_fecha" value="@plan_fecha" class="text-center form-control" onkeydown="return false" />
                <div id="error-plan-fecha" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Nombre de la empresa
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.emp_razon_social, new
           {
               htmlAttributes = new {
                   @class = "text-center form-control",

               },

           })

            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Estado del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_estado_nobre, new
                {
                   htmlAttributes = new { @class = "text-center form-control" }
                })
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Costo del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_costo, new
                {
                   htmlAttributes = new { @id = "plan-costo", @class = "text-center form-control" }
                })
                <div id="error-plan-costo" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Tipo de servicio del plan
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.tipo_servicio_nombre, new
                {
                   htmlAttributes = new { @class = "text-center form-control" }
                })
            </div>
        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">
                        Tiempo del plan (en años)
                    </label>
                </div>
                @Html.EditorFor(model => model.plans_aux.plan_tiempo, new
                {
                   htmlAttributes = new { @id = "plan-tiempo", @class = "text-center form-control" }
                })
                <div id="error-plan-tiempo" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-4 pl-2">
            <div class="col-12 col-sm-3 col-md-3">
                <button type="submit" id="btnActualizar" class="btn btn-success">
                    <i class="fa fa-check-circle"></i>
                    Actualizar
                </button>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_Plan_Proyecto","Gerente",null)" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
        </div>
   </form> 
</div>
<link href="~/Content/StyleTP/PIERO/stylesPiero.css" rel="stylesheet" />
<link href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/COLOMBO/ValidacionesActualizarPlan.js"></script>
    <script src="~/Scripts/Scripts_TP/MIRANDA/scriptsGestionarPlanProyecto.js"></script>
    <script src="~/Scripts/Scripts_TP/PIERO/scriptsGestionarPlan.js"></script>
    <!--<script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>-->
}