@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel

@{
    ViewBag.Title = "Eliminar_Plan_de_Proyecto";
}

<div class="modal fade" id="ModalEliminarPlan" tabindex="-1" role="dialog" aria-labelledby="#ModalEliminarPlan" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center font-weight-bolder">
                Eliminar Plan de Proyecto
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Nombre del Plan
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.plans_aux.plan_nombre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white",@readonly="readonly" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Fecha del Plan de Proyecto
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.plans_aux.plan_fecha, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white",@readonly="readonly" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Nombre de la empresa
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.plans_aux.emp_razon_social, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white",@readonly="readonly" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Estado del Plan
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.plans_aux.plan_estado_nobre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white",@readonly="readonly" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Costo del Plan
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.plans_aux.plan_costo, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white", @readonly = "readonly" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Tipo de Servicio del Plan
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.plans_aux.tipo_servicio_nombre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white", @readonly = "readonly" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Tipo del plan (en años)
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.plans_aux.plan_tiempo, new
                            {
                                htmlAttributes = new { @class = "text-center form-control bg-white", @readonly = "readonly" }
                            })
                        </div>
                    </div>
                </div>             
                            
                <div class="mt-4 mb-4">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-6">
                            <button type="button" class="btn btn-danger rounded-pill btnEliminar" style="color:white !important">
                                <i class="fa fa-times-circle" style="color:white !important"></i>
                                Eliminar Plan
                            </button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-6">
                            <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                                <i class="fa fa-arrow-left"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

