@model SWMGEGCSS.Models.ExpedienteViewModel
   @{ 
       Layout = null;
       var exp_inicio = "";
       var exp_fin = "";
       if (Model.Expediente != null)
       {
           exp_inicio = Model.Expediente.exp_inicio.ToString("yyyy-MM-dd");
       }
       if (Model.Expediente!= null)
       {
           exp_fin = Model.Expediente.exp_fin.ToString("yyyy-MM-dd");;
       }

   }
<div class="modal fade" id="ModalProyecto" tabindex="-1" role="dialog" aria-labelledby="#ModalProyecto" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-center font-weight-bolder">
                Actualizar Proyecto
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Nombre del Proyecto
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Expediente.exp_nombre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Nombre del Plan
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Expediente.plan_nombre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Fecha de Inicio
                            </label>
                        </div>
                        <div>
                            <input type="date" name="Expediente.exp_inicio" value="@exp_inicio" class="text-center form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Fecha Fin
                            </label>
                        </div>
                        <div>
                            <input type="date" name="Expediente.exp_fin" value="@exp_fin" class="text-center form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Tipo de Servicio
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Expediente.tipo_servicio_nombre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Estado del Proyecto
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Expediente.est_exp_nombre, new
                            {
                                htmlAttributes = new { @class = "text-center form-control" }
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12 col-md-12">
                        <div class="mt-2">
                            <label class="font-weight-bolder">
                                Costo del Proyecto
                            </label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Expediente.exp_ganancia, new
                            {
                                htmlAttributes = new { @class = "text-center form-control" }
                            })
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-4">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-6">
                            <button type="button" class="btn btn-warning rounded-pill" style="color:white !important">
                                <i class="fa fa-check-circle" style="color:white !important"></i>
                                Actualizar Proyecto
                            </button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-6">
                            <button type="button" class="btn btn-danger rounded-pill" data-dismiss="modal">
                                <i class="fa fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
