@model SWMGEGCSS.Models.ExpedienteViewModel
@{
    ViewBag.Title = "Registrar_Proyecto";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
<div class="container-fluid">
    <form id="form">
        <div class="border-registrar">
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <label class="font-weight-bolder titulo-registrar">
                        Registrar Nuevo Proyecto
                    </label>
                </div>
            </div>
            <div class="row mt-2 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <div>
                        <label class="font-weight-bolder label-registrar">
                            Nombre del Proyecto
                        </label>
                    </div>
                    @Html.EditorFor(model => model.Expediente.exp_nombre, new
                    {
                        htmlAttributes = new { @class = "text-center form-control" }
                    })
                    <span id="validatenameProyecto"></span>
                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <div>
                        <label class="font-weight-bolder label-registrar">
                            Nombre del Plan del Proyecto
                        </label>
                    </div>
                    @Html.EditorFor(model => model.Expediente.plan_nombre, new
                    {
                        htmlAttributes = new { @class = "text-center form-control", @dataid = Url.Action("Autocomplete", "Expediente") }
                    })
                    <span id="validatePlanProyecto"></span>
                </div>
                <div class="col-sm-1 col-md-1">

                </div>
            </div>
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <div>
                        <label class="font-weight-bolder label-registrar">
                            Fecha Inicio
                        </label>
                    </div>
                    @Html.EditorFor(model => model.Expediente.exp_inicio, new
                    {
                        htmlAttributes = new { @class = "text-center form-control", @type = "date" }
                    })
                    <span id="validateFechaInicio"></span>
                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <div>
                        <label class="font-weight-bolder label-registrar">
                            Fecha Fin
                        </label>
                    </div>
                    @Html.EditorFor(model => model.Expediente.exp_fin, new
                    {
                        htmlAttributes = new { @class = "text-center form-control", @type = "date" }
                    })
                    <span id="validateFechaFin"></span>
                </div>
                <div class="col-sm-1 col-md-1">

                </div>
            </div>
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <div>
                        <label class="font-weight-bolder label-registrar">
                            Ganancia del Proyecto (S/.)
                        </label>
                    </div>
                    @Html.EditorFor(model => model.Expediente.exp_ganancia, new
                    {
                        htmlAttributes = new { @class = "text-center form-control bg-white",@readonly="readonly" }
                    })
                    <span id="validateGanancia"></span>
                </div>
                <div class="col-12 col-sm-5 col-md-5">
                    <div>
                        <label class="font-weight-bolder label-registrar">
                            Subir Archivo de Contrato
                        </label>
                    </div>
                        @Html.TextBoxFor(model => model.Expediente.archivo_ulr_inicio, new { type = "file", id = "newfile", @class = "form-control-file bg-red" })
                    <span id="validateArchivo"></span>
                </div> 
                <div class="col-sm-1 col-md-1">

                </div>

            </div>
            <div class="row mt-4 pl-2">
                <div class="col-sm-1 col-md-1">

                </div>
                <div class="col-12 col-sm-3 col-md-3">
                    <button type="button" class="btn btn-success" id="btnRegistrar">
                        <i class="fa fa-check-circle"></i>
                        Registrar Proyecto
                    </button>
                </div>
                <div class="col-12 col-sm-3 col-md-3">
                    <a href="@Url.Action("Gestionar_Proyectos","Gerente")" class="btn btn-secondary">
                        <i class="fa fa-backward">

                        </i>
                        Regresar
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MIRANDA/scriptsRegistrarProyecto.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}
