@model SWMGEGCSS.Models.GestionarCuentasViewModel
@{
    ViewBag.Title = "_verDetalles";
    Layout = null;
}
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MAURICIO/ConsultarCuenta.js"></script>
}
<div class="modal fade" id="ModalVerDetallesCuenta" tabindex="-1" role="dialog" aria-labelledby="#ModalVerDetallesCuenta" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <h2 class="text-center">Detalles del Usuario</h2>
            <div class="container-fluid">
                @using (Html.BeginForm("Registrar_Cuenta", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row mt-3 pl-3">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Nombre y Apellido
                            </label>
                            @Html.EditorFor(model => model.cuentas.det_usu_nombre, new
                           {
                               htmlAttributes = new { @id = "det_usu_nombre", @class = "text-center form-control" }
                           })
                            <div id="error_det_usu_nombre" class="errordiv"></div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Correo
                            </label>
                            @Html.EditorFor(model => model.cuentas.det_usu_correo, new
                            {
                               htmlAttributes = new { @id = "det_usu_correo", @class = "text-center form-control" }
                            })
                            <div id="error-cita-correo" class="errordiv"></div>
                        </div>
                    </div>

                    <div class="row mt-3 pl-3">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Direccion
                            </label>
                            @Html.EditorFor(model => model.cuentas.det_usu_direccion, new
                           {
                               htmlAttributes = new { @id = "det_usu_direccion", @class = "text-center form-control" }
                           })
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Telefono
                            </label>
                            @Html.EditorFor(model => model.cuentas.det_usu_telefono, new
                            {
                               htmlAttributes = new { @id = "det_usu_telefono", @class = "text-center form-control" }
                            })
                        </div>
                    </div>

                    <div class="row mt-3 pl-3">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Tipo de Documento
                            </label>
                            <select class="custom-select" id="det_usu_tip_doc" name="det_usu_tip_doc">
                                <option class="font-weight-bolder" value="Tipo de Documento">Tipo de Documento</option>
                                <option class="font-weight-bolder" value="1">DNI</option>
                                <option class="font-weight-bolder" value="2">RUC</option>
                                <option class="font-weight-bolder" value="3">Pasaporte</option>
                            </select>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Tipo de Usuario
                            </label>
                            <select class="custom-select" id="tipo_det_usu_tipo" name="tipo_det_usu_tipo">
                                <option class="font-weight-bolder" value="Elige una opcion">Elija una opción</option>
                                <option class="font-weight-bolder" value="1">Persona</option>
                                <option class="font-weight-bolder" value="2">Empresa</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3 pl-3">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Número del Documento
                            </label>
                            @Html.EditorFor(model => model.cuentas.det_usu_tip_doc_numero, new
                            {
                               htmlAttributes = new { @id = "det_usu_tip_doc_numero", @class = "text-center form-control" }
                            })
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Sexo
                            </label>
                            <select class="custom-select" id="det_usu_sexo" name="det_usu_sexo">
                                <option class="font-weight-bolder" value="Elige una opcion">Elija una opción</option>
                                <option class="font-weight-bolder" value="M">Masculino</option>
                                <option class="font-weight-bolder" value="F">Femenino</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3 pl-3">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Universidad o Instituto
                            </label>
                            @Html.EditorFor(model => model.cuentas.det_usu_codigoColegio, new
                            {
                               htmlAttributes = new { @id = "det_usu_codigoColegio", @class = "text-center form-control" }
                            })
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Especialidad
                            </label>
                            @Html.EditorFor(model => model.cuentas.det_usu_especialidad, new
                            {
                               htmlAttributes = new { @id = "det_usu_especialidad", @class = "text-center form-control" }
                            })
                        </div>
                    </div>

                    <div class="row mt-3 pl-3">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Nombre de Usuario
                            </label>
                            @Html.EditorFor(model => model.cuentas.usu_usuario, new
                            {
                               htmlAttributes = new { @id = "usu_usuario", @class = "text-center form-control" }
                            })
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <label class="font-weight-bolder">
                                Tipo de Usuario
                            </label>
                            <select class="custom-select" id="rol_codigo" name="rol_codigo">
                                <option class="font-weight-bolder" value="Elige una opcion">Elija una opción</option>
                                <option class="font-weight-bolder" value="4">Administrador</option>
                                <option class="font-weight-bolder" value="2">Secretario</option>
                                <option class="font-weight-bolder" value="1">Trabajador</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row mt-3 ml-2 mb-3">
                        <div class="col-12 col-sm-3 col-md-3">
                            <a href="@Url.Action("Gestionar_Cuenta", "Gerente")" class="btn btn-secondary">
                                <i class="fa fa-backward">

                                </i>
                                Regresar
                            </a>
                        </div>
                        

                    </div>

                }
            </div>
        </div>
    </div>
</div>