@model SWMGEGCSS.Models.GestionarCuentasViewModel
@{
    ViewBag.Title = "Actualizar_Datos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var codigo = 0;

    codigo = Model.cuentas.usu_codigo;
    var nom_rol = Model.cuentas.rol_nombre;
    var id_rol = Model.cuentas.rol_codigo;
    var list_rol = Model.RolesViewModel.list_roles;
    var rol_name = (string)Session["rol_name"];
    if(Model.RolesViewModel.list_roles != null)
    {
        list_rol = Model.RolesViewModel.list_roles;
    }
}

<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
@section Scripts{

}

<h2 class="pl-3 ml-3 mt-3 mb-3">Actualizar Empresa</h2>

<div class="container-fluid">
    @using (Html.BeginForm("Actualizar_Datos", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="justify-content-center">
            <input type="text" name="usu_codigo" value="@Model.cuentas.usu_codigo" hidden="hidden" />
        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-4 col-md-4">

            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <img src="@Url.Action("convertirImagen","Account",new {codigo=codigo })" class="img-radius align-self-lg-center align-self-sm-center" alt="User-Profile-Image">

            </div>
        </div>
       
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Nombre y Apellido
                </label>

                <input type="text" class="text-center form-control" name="det_usu_nombre" value="@Model.cuentas.det_usu_nombre" />
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Tipo de Usuario
                </label>
                <select class="custom-select" id="rol_codigo" name="rol_codigo">
                    <option class="font-weight-bolder" value="@id_rol">@nom_rol</option>
                    @foreach (var item in list_rol)
                    {
                        if (rol_name == "GERENTE")
                        {
                            if (nom_rol != item.rol_nombre && item.rol_codigo != 3)
                            {
                                <option value="@item.rol_codigo">@item.rol_nombre</option>
                            }
                        }
                        else if (rol_name == "ADMINISTRADOR")
                        {
                            if (nom_rol != item.rol_nombre && item.rol_codigo != 3 && item.rol_codigo != 4)
                            {
                                <option value="@item.rol_codigo">@item.rol_nombre</option>
                            }
                        }
                        else if (rol_name == "SECRETARIO")
                        {
                            if (nom_rol != item.rol_nombre && item.rol_codigo != 3 && item.rol_codigo != 4 && item.rol_codigo != 2)
                            {
                                <option value="@item.rol_codigo">@item.rol_nombre</option>
                            }
                        }

                    }
                </select>
            </div>
        </div>

        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Nombre de Usuario
                </label>
                <input type="text" class="text-center form-control" name="usu_usuario" value="@Model.cuentas.usu_usuario" />
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Contraseña
                </label>
                <input type="password" class="text-center form-control" name="usu_contraseña" value="@Model.cuentas.usu_contraseña" />
            </div>
        </div>
        <div class="mt-5 pl-3">
            <label>Agregar Imagen</label>
        </div>
        <div class="mt-3 pl-3">
            <input type="file" class="form-control-file col-12 col-sm-12 col-md-6" id="imagen" name="imagen" />
        </div>

        <div class="row mt-3 ml-2">
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action( "Gestionar_Cuenta", "Gerente")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <button type="submit" class="btn btn-success" id="boton-Registrar">
                    <i class="fa fa-check-circle"></i>
                    Registrar Cuenta
                </button>
            </div>

        </div>

    }
</div>
