@model SWMGEGCSS.Models.GestionarCuentasViewModel
@{
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    ViewBag.Title = "Registrar_Cuenta";
}

<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MAURICIO/scriptsRegistrarCuenta.js"></script>
}

<h2 class="pl-3 ml-3 mt-3 mb-3">Registrar Cuenta</h2>

<div class="container-fluid">
    @using (Html.BeginForm("Registrar_Cuenta", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Nombre y Apellido
                </label>
                @Html.EditorFor(model => model.cuentas.det_usu_nombre, new
               {
                   htmlAttributes = new { @id = "det_usu_nombre", @class = "text-center form-control" }
               })
                <div id="error_det_usu_nombre" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Correo
                </label>
                @Html.EditorFor(model => model.cuentas.det_usu_correo, new
                {
                   htmlAttributes = new { @id = "det_usu_correo", @class = "text-center form-control" }
                })
                <div id="error_det_usu_correo" class="errordiv"></div>
            </div>
        </div>

        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Direccion
                </label>
                @Html.EditorFor(model => model.cuentas.det_usu_direccion, new
               {
                   htmlAttributes = new { @id = "det_usu_direccion", @class = "text-center form-control" }
               })
                <div id="error_det_usu_direccion" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Telefono
                </label>
                @Html.EditorFor(model => model.cuentas.det_usu_telefono, new
                {
                   htmlAttributes = new { @id = "det_usu_telefono", @class = "text-center form-control" }
                })
                <div id="error_det_usu_telefono" class="errordiv"></div>
            </div>
        </div>

        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Tipo de Documento
                </label>
                <select class="custom-select" id="det_usu_tip_doc" name="det_usu_tip_doc">
                    <option class="font-weight-bolder" value="Tipo de Documento">Tipo de Documento</option>
                    <option class="font-weight-bolder" value="1">DNI</option>
                    <option class="font-weight-bolder" value="2">RUC</option>
                    <option class="font-weight-bolder" value="3">Pasaporte</option>
                </select>
                <div id="error_det_usu_tip_doc" class="errordiv"></div>
            </div>

            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Tipo de Usuario
                </label>
                <select class="custom-select" id="tipo_det_usu_tipo" name="tipo_det_usu_tipo">
                    <option class="font-weight-bolder" value="Elige una opcion">Elija una opción</option>
                    <option class="font-weight-bolder" value="1">Persona</option>
                    <option class="font-weight-bolder" value="2">Empresa</option>
                </select>
                <div id="error_tipo_det_usu_tipo" class="errordiv"></div>
            </div>
        </div>

        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Número del Documento
                </label>
                @Html.EditorFor(model => model.cuentas.det_usu_tip_doc_numero, new
                {
                   htmlAttributes = new { @id = "det_usu_tip_doc_numero", @class = "text-center form-control" }
                })
                <div id="error_det_usu_tip_doc_numero" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Sexo
                </label>
                <select class="custom-select" id="det_usu_sexo" name="det_usu_sexo">
                    <option class="font-weight-bolder" value="Elige una opcion">Elija una opción</option>
                    <option class="font-weight-bolder" value="M">Masculino</option>
                    <option class="font-weight-bolder" value="F">Femenino</option>
                </select>
                <div id="error_det_usu_sexo" class="errordiv"></div>
            </div>
        </div>

        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Universidad o Instituto
                </label>
                @Html.EditorFor(model => model.cuentas.det_usu_codigoColegio, new
                {
                   htmlAttributes = new { @id = "det_usu_codigoColegio", @class = "text-center form-control" }
                })
                <div id="error_det_usu_codigoColegio" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Especialidad
                </label>
                @Html.EditorFor(model => model.cuentas.det_usu_especialidad, new
                {
                   htmlAttributes = new { @id = "det_usu_especialidad", @class = "text-center form-control" }
                })
                <div id="error_det_usu_especialidad" class="errordiv"></div>
            </div>
        </div>

        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Nombre de Usuario
                </label>
                @Html.EditorFor(model => model.cuentas.usu_usuario, new
                {
                   htmlAttributes = new { @id = "usu_usuario", @class = "text-center form-control" }
                })
                <div id="error_usu_usuario" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Contraseña
                </label>
                <input class="text-center form-control" type="password" name="usu_contraseña" id="usu_contraseña" />
                <div id="error_usu_contraseña" class="errordiv"></div>
            </div>
        </div>
        <div class="row mt-3 pl-3">
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Tipo de Usuario
                </label>
                <select class="custom-select" id="rol_codigo" name="rol_codigo">
                    <option class="font-weight-bolder" value="Elige una opcion">Elija una opción</option>
                    <option class="font-weight-bolder" value="4">Administrador</option>
                    <option class="font-weight-bolder" value="2">Secretario</option> 
                    <option class="font-weight-bolder" value="1">Trabajador</option>
                </select>
                <div id="error_rol_codigo" class="errordiv"></div>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <label class="font-weight-bolder">
                    Repetir Contraseña
                </label>
                <input class="text-center form-control" type="password" name="usu_contraseña_nuv" id="usu_contraseña_nuv" />
                <div id="error_usu_contraseña1" class="errordiv"></div>

            </div>
        </div>
        <div class="row mt-3 pl-3">
            <label>Imagen Agregada</label>
            <input type="file" class="form-control-file col-12 col-sm-12 col-md-6"  id="imagen" name="imagen" />
        </div>

        <div class="row mt-3 ml-2">
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Gestionar_Cuenta", "Gerente")" class="btn btn-secondary">
                    <i class="fa fa-backward">

                    </i>
                    Regresar
                </a>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <button type="submit" class="btn btn-success" id="boton-Registrar">
                    <i class="fa fa-check-circle"></i>
                    Registrar Cuenta
                </button>
            </div>

        </div>

    }
</div>