@model SWMGEGCSS.Models.AuditoriaViewModel
@{
    var lista_actividades_auditoria = Model.Plist_auditoria_actividades_desarrollar;
    var count = 0;
    Layout = null;
}

<div id="tableExp">
    <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-success">
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Fecha de la Auditoria</th>
                            <th scope="col">Fecha inicio de la Actividad</th>
                            <th scope="col">Fecha fin de la Actividad</th>
                            <th scope="col">Nombre del documento subido por el Trabajador</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lista_actividades_auditoria)
                        {
                            count = count + 1;
                            <tr class="text-center">
                                <th scope="row">@count</th>
                                <td>@item.audi_act_fecha_auditoria</td>
                                <td>@item.audi_act_fecha_inicio</td>
                                <td>@item.audi_act_fecha_fin</td>
                                <td>@item.audi_act_archivo_nombre</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-12 pagedList" data-exp-target="#tableExp">
            @Html.PagedListPager(lista_actividades_auditoria, page => Url.Action("Visualizar_Auditoria_Actividades", "Auditoria_Proyecto", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>

