@model SWMGEGCSS.Models.AuditoriaViewModel
@{
    var lista_expediente_auditoria = Model.Plist_aux_auditoria_expediente;
    var count = 0;
    Layout = null;
}

<div id="tableExp">
    <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-success">
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Fecha de la Auditoria</th>
                            <th scope="col">Fecha inicio del Proyecto</th>
                            <th scope="col">Fecha fin del Proyecto</th>
                            <th scope="col">Nombre del Servicio</th>
                            <th scope="col">Ganancia del Proyecto</th>
                            <th scope="col">Comentario del Proyecto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lista_expediente_auditoria)
                        {
                            count = count + 1;
                        <tr class="text-center">
                            <th scope="row">@count</th>
                            @if (item.aud_exp_fecha_auditoria.ToShortDateString().Equals("01/01/0001"))
                            {
                                <td>No se establece la fecha de inicio</td>
                            }
                            else
                            {
                                <td>@item.aud_exp_fecha_auditoria</td>
                            }
                            @if (item.aud_exp_inicio.ToShortDateString().Equals("01/01/0001"))
                            {
                                <td>No se establece la fecha de inicio</td>
                            }
                            else
                            {
                                <td>@item.aud_exp_inicio.ToShortDateString()</td>
                            }
                            @if (item.aud_exp_fin.ToShortDateString().Equals("01/01/0001"))
                            {
                                <td>No se establece la fecha de inicio</td>
                            }
                            else
                            {
                                <td>@item.aud_exp_fin.ToShortDateString()</td>
                            }
                            <td>@item.tipo_servicio_nombre</td>
                            <td>@item.aud_exp_ganancia</td>
                            <td>@item.aud_exp_comentario</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-12 pagedList" data-exp-target="#tableExp">
            @Html.PagedListPager(lista_expediente_auditoria, page => Url.Action("Visualizar_Auditoria", "Auditoria_Proyecto", new { exp_id = (int)Session["expedienteid"], page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>

