@model SWMGEGCSS.Models.TipoServicioViewModel
@{
    Layout = null;
}
    <link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
    <div class="modal fade" id="ModalActualizarDatosServicio" tabindex="-1" role="dialog" aria-labelledby="#ModalActualizarDatosServicio" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="text-center font-weight-bolder mt-1">
                    Actualizar Datos del Servicio
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-sm-6 col-12 col-md-6">
                            <div class="mt-2">
                                <label class="font-weight-bolder">
                                    Nombre del Servicio
                                </label>
                            </div>
                            <div>
                                @Html.EditorFor(model => model.tipoServicio.tipo_servicio_nombre, new
                                {
                                    htmlAttributes = new { @class = "text-center form-control bg-white", @id = "servicio_nombre_act" }
                                })
                            </div>
                            <span id="validatenameServicio"></span>
                        </div>
                        <div class="col-sm-6 col-12 col-md-6">
                            <div class="mt-2">
                                <label class="font-weight-bolder">
                                    Estado del Servicio
                                </label>
                            </div>
                            @if (Model.tipoServicio.tipo_servicio_estado)
                            {
                                <div>
                                    <input type="text" class="form-control text-center bg-white" name="tipoServicio.tipo_servicio_estado" value="Activo" readonly="readonly" />
                                </div>
                            }
                            else
                            {
                                <div>
                                    <input type="text" class="form-control text-center bg-white" name="tipoServicio.tipo_servicio_estado" value="Inactivo" readonly="readonly" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-12 col-md-12">
                            <div class="mt-2">
                                <label class="font-weight-bolder">
                                    Descripcion del Servicio
                                </label>
                            </div>
                            <div>
                                @Html.TextAreaFor(model => model.tipoServicio.tipo_servicio_descripcion, htmlAttributes: new { @class = "text-center form-control bg-white", @id = "servicio_descripción_act" })
                            </div>
                            <span id="validatedescripcionServicio"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-12 col-md-12">
                            @Html.Partial("_ListarActividadesEliminar", Model)
                        </div>
                    </div>
                    <div class="mt-4 mb-4">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-12">
                                <button type="button" class="btn btn-warning rounded-pill btnActualizarServicio" style="color:white !important" data-id-serv="@Model.tipoServicio.tipo_servicio_id" data-url="@Url.Action("ActualizarServicio","Servicios")">
                                    <i class="fa fa-user-edit" style="color:white !important"></i>
                                    Actualizar Servicio
                                </button>
                            </div>
                            <div class="col-sm-4 col-md-4 col-12">
                                <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">
                                    <i class="fa fa-arrow-left"></i>
                                    Regresar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>