@model SWMGEGCSS.Models.GestionarAsignacionActividadesDesarrollar
@{
    var listaActividadesDesarrollarAux = Model.listPagedActividadesDesarrollarAux;
    var count = 0;
    Layout = null;
    DateTime hoy = DateTime.Today;
}

<div id="tableExp">
    <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-success">
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Nombre Actividad </th>
                            <th scope="col">Proyecto</th>
                            <th scope="col">Estado de Activididad</th>
                            <th scope="col">Asignacion</th>
                            <th scope="col">Fecha fin Exp</th>
                            <th scope="col">Funciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in listaActividadesDesarrollarAux)
                        {

                            count = count + 1;
                            var estadoAsignacion = "Asignado";
                            //var ActDesaAux = listaActividadesDesarrollarAux.Find(x => x.act_desa_id == item.act_desa_id);
                            if (item.usu_asignado == 0 || item.usu_creador == 0)
                            {
                                estadoAsignacion = "No Asignado";
                            }
                            //var plan_id = listaPlanActividad.ElementAt(0).plan_id;
                            <tr class="text-center">
                                <th scope="row">@count</th>


                                <td>@item.act_desa_nombre</td>
                                <td>@item.exp_nombre </td>
                                <td>@item.est_act_nombre</td>
                                <td>@estadoAsignacion</td>
                                <td>@item.exp_fin</td>
                                <td>
                                    @{
                                        if (item.exp_fin < hoy)
                                        {
                                            <label style="border: 1px solid #C00" class="text-center form-control">
                                                <Font size="3" color="red">
                                                    Act. de Proyecto Atrazado
                                                </Font>
                                            </label>
                                        }
                                        else
                                        {
                                            if (item.usu_asignado == 0 && item.usu_revisor == 0)
                                            {
                                                <button class="btn btn-success">
                                                    <i class="fa fa-plus-circle"></i>
                                                    @Html.ActionLink("Asignar Tarea", "RegistrarAsignacionActividades_Desarrollar", "ActividadesDesarrollar", new { act_desa_id = item.act_desa_id }, new { @style = "color: white !important;text-decoration :none !important" })
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-warning">
                                                    <i class="fa fa-edit" style="color:white !important"></i>
                                                    @Html.ActionLink("RE-Asignar Tarea", "ActualizarAsignacionActividades_Desarrollar", "ActividadesDesarrollar", new { act_desa_id = item.act_desa_id }, new { @style = "color: white !important;text-decoration :none !important" })
                                                </button>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-12 pagedList" data-exp-target="#tableExp">
            @Html.PagedListPager(listaActividadesDesarrollarAux, page => Url.Action("Asignacion_Tareas", "Administrador", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>

