@model SWMGEGCSS.Models.GestionarAsignacionActividadesDesarrollar

@{
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var listaDetalleUsuario = Model.listDetalleUsuario;
    var count = 0;
    var fechaProyectoInicio = Model.expedienteActDesarrollar.exp_inicio.ToString("yyyy-MM-dd");
    var fechaProyectoFin = Model.expedienteActDesarrollar.exp_fin.ToString("yyyy-MM-dd");
    int act_desa_id = Model.actividadesDesarrollar.act_desa_id;
    var usuariAsignado = Model.usuarioEncargado;
    //var usuarioRevisor = Model.usuarioRevisor;
    var detalleUsuTrabajador = Session["detUsuTrabajador"];
}

<div class="container-fluid">
    <form id="form">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.actividadesDesarrollarAux.act_desa_id)
        </div>

        <div class="row">
            <div style="width:60px"></div>
            <div class="col-12 col-sm-5 col-md-5">
                <h2 class="font-weight-bolder text-center">
                    Reasignacion de Actividad
                </h2>
            </div>
        </div>
        <div class="row mt-4 pl-2">
            <div style="width:60px"></div>
            <div class="col-12 col-sm-4 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        Nombre del Proyecto:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.exp_nombre,
              new
                   {
                       htmlAttributes = new
                       {
                           @class = "text-center form-control", @readonly = "readonly"
                       }
                   })
            </div>
        </div>
        <div class="row mt-4 pl-2">
            <div style="width:60px"></div>
            <div class="col-12 col-sm-4 col-md-6">
                <div>
                    <label class="font-weight-bolder text-center">
                        Nombre de la Actividad:
                    </label>
                </div>

                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_nombre,
               new
               {
                   htmlAttributes = new
                   {
                       @class = "text-center form-control",
                       @readonly = "readonly"
                   }
               })
            </div>
        </div>
        <div class="row mt-4 pl-2">
            <div style="width:60px"></div>
            <div class="col-12 col-sm-4 col-md-6">
                <div>
                    <label class="font-weight-bolder">
                        Descripcion de la Actividad:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_descripcion,
               new
                    {
                        htmlAttributes = new
                        {
                            @class = "text-center form-control",
                            @readonly = "readonly"
                        }
                    })
            </div>
        </div>
        <div class="row mt-4 pl-2">
            <div style="width:60px"></div>
            <div class="col-12 col-sm-4 col-md-3">
                <div>
                    <label class="font-weight-bolder">
                        Fecha de Inicio del Proyecto:
                    </label>
                </div>
                @Html.EditorFor(model => model.expedienteActDesarrollar.exp_inicio,
               new
                    {
                        htmlAttributes = new
                        {
                            @class = "text-center form-control",
                            @readonly = "readonly",
                            @type = "Date",
                            @Value = fechaProyectoInicio
                        }
                    })
            </div>
            <div style="width:13px"></div>
            <div class="col-12 col-sm-4 col-md-3">
                <div>
                    <label class="font-weight-bolder">
                        Fecha finalizacion del proyecto :
                    </label>
                </div>
                @Html.EditorFor(model => model.expedienteActDesarrollar.exp_fin,
               new
                    {
                        htmlAttributes = new
                        {
                            @class = "text-center form-control",
                            @readonly = "readonly",
                            @type = "Date",
                            @Value = fechaProyectoFin
                        }
                    })
            </div>
        </div>
        <div class="row mt-4 pl-2">
            <div style="width:60px"></div>
            <div class="col-12 col-sm-4 col-md-3">
                <div>
                    <label class="font-weight-bolder">
                        Fecha de inicio de la Actividad:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_fecha_inicio,
               new
               {
                   htmlAttributes = new
                   {
                       @id = "actDesaFechaInicio2",
                       @class = "text-center form-control",
                       @onkeydown = "return false",
                       @type = "date",
                       @Value = Model.actividadesDesarrollarAux.act_desa_fecha_inicio.ToString("yyyy-MM-dd")
                   }
               })
                <div id="error-act-desa-fecha" class="errordiv"></div>
            </div>
            <div style="width:13px"></div>
            <div class="col-12 col-sm-4 col-md-3">
                <div>
                    <label class="font-weight-bolder">
                        Fecha de finalizacion de la Actividad:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_fecha_fin,
               new
               {
                   htmlAttributes = new
                   {
                       @id = "actDesaFechaFin2",
                       @class = "text-center form-control",
                       @onkeydown = "return false",
                       @type = "date",
                       @Value = Model.actividadesDesarrollarAux.act_desa_fecha_fin.ToString("yyyy-MM-dd")
                   }
               })
            </div>
        </div>
        <br><br>

        @{
            
                <div style="width: 800px">
                    <div style="border: 6px solid #C00">
                        <div class="col-md-12">
                            <label class="font-weight-bolder text-center">
                                Trabajador Encargado de la Actividad
                            </label>
                            <div class="row mt-4 pl-2">
                                <div style="width:30px"></div>
                                <div class="col-12 col-sm-4 col-md-6">

                                    <div>
                                        <label class="font-weight-bolder">
                                            Nombre Completo
                                        </label>
                                    </div>
                                    @Html.EditorFor(model => model.usuarioEncargado.det_usu_nombre,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "text-center form-control",
                                            @readonly = "readonly"

                                        }
                                    })
                                </div>
                            </div>
                            <div class="row mt-4 pl-2">
                                <div style="width:30px"></div>
                                <div class="col-12 col-sm-4 col-md-6">

                                    <div>
                                        <label class="font-weight-bolder">
                                            Especialidad
                                        </label>
                                    </div>
                                    @Html.EditorFor(model => model.usuarioEncargado.det_usu_especialidad,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "text-center form-control",
                                            @readonly = "readonly"
                                        }
                                    })
                                </div>
                            </div>
                            <div class="row mt-4 pl-2">
                                <div style="width:30px"></div>
                                <div class="col-12 col-sm-4 col-md-6">

                                    <div>
                                        <label class="font-weight-bolder">
                                            Correo Electronico
                                        </label>
                                    </div>
                                    @Html.EditorFor(model => model.usuarioEncargado.det_usu_correo,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "text-center form-control",
                                            @readonly = "readonly"
                                        }
                                    })
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            
        }
        <div>
            <div class="mt-2 ml-4">
                <div class="container-fluid">
                    <div class="row mt-4 pl-2">
                        <div class="col-12 col-sm-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="bg-success">
                                        <tr class="text-center">
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre </th>
                                            <th scope="col">N° Documento</th>
                                            <th scope="col">Especialidad</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in listaDetalleUsuario)
                                        {

                                            count = count + 1;
                                            <tr class="text-center">
                                                <th scope="row">@count</th>


                                                <td>@item.det_usu_nombre</td>
                                                <td>@item.det_usu_tip_doc_numero </td>
                                                <td>@item.det_usu_especialidad</td>
                                                <td>@item.det_usu_correo</td>
                                                <td>
                                                    @{

                                                        <button class="btn btn-success btnModalTrabajadorMod" data-id-usu="@item.usu_codigo" data-act-desa-id="@act_desa_id" data-url="@Url.Action("_ModalAsignarTrabajadorResponsableMod", "ActividadesDesarrollar")" data-id-target="#AsignarTrabajadorActividadMod">
                                                            <i class="fa fa-check-circle"></i>
                                                            Como Encargado
                                                        </button>

                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-2 pl-2">
            <div class="col-12 col-sm-3 col-md-3">
                <button type="button" class="btn btn-success btnModalActividadesDesarrollar2" data-url="@Url.Action("ActualizarAsignacionActividades_Desarrollar", "ActividadesDesarrollar")" data-id-target="#actualizarAuditoriaActDesa">
                    <i class="fa fa-check-circle"></i>
                    Realizar Reasignacion
                </button>
            </div>
        </div>

    </form>
    @Html.Action("_ModalAsignarTrabajadorResponsableMod", "ActividadesDesarrollar")
    @Html.Action("_ModalActualizarAuditoriaActividadDesarrollar", "ActividadesDesarrollar")
</div>
@section Scripts{
    <!--<script src="~/Scripts/Scripts_TP/PIERO/scriptsActualizarPlan.js"></script>-->
    <script src="~/Scripts/Scripts_TP/COLOMBO/asignarResponsableActividadMod.js"></script>
    <script src="~/Scripts/Scripts_TP/COLOMBO/ReasignarTarea.js"></script>
}
