@model SWMGEGCSS.Models.GestionarAsignacionActividadesDesarrollar

@{
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var listaDetalleUsuario = Model.listDetalleUsuario;
    var count = 0;
    var fechaProyectoInicio = Model.expedienteActDesarrollar.exp_inicio.ToString("yyyy-MM-dd");
    var fechaProyectoFin = Model.expedienteActDesarrollar.exp_fin.ToString("yyyy-MM-dd");
    int act_desa_id = Model.actividadesDesarrollar.act_desa_id;
    var usuariAsignado = Model.usuarioEncargado;
    //var usuarioRevisor = Model.usuarioRevisor;
    var detalleUsuTrabajador = Session["detUsuTrabajador"];

}
<link rel="stylesheet" href="~/Content/StyleTP/SEBASTIAN/RegistrarProyecto.css" />
<div class="container-fluid">
    <form id="form">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.actividadesDesarrollarAux.act_desa_id)
        </div>

        <div class="row">
            <div style="width:60px"></div>
            <div class="col-12 col-sm-5 col-md-5">
                <h2 class="font-weight-bolder text-center">
                    Registrar Asignacion
                </h2>
            </div>
        </div>

        <div class="row mt-12 pl-2">
            <div style="width:90px"></div>
            <div class="col-10 col-sm-10 col-md-10">
                <div>
                    <label class="font-weight-bolder">
                        Nombre del Proyecto:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.exp_nombre,
              new
                   {
                       htmlAttributes = new
                       {
                           @class = "text-center form-control", @readonly = "readonly"
                       }
                   })
            </div>
        </div>
        <div class="row mt-12 pl-2">
            <div style="width:90px"></div>
            <div class="col-10 col-sm-10 col-md-10">
                <div>
                    <label class="font-weight-bolder text-center">
                        Nombre de la Actividad:
                    </label>
                </div>

                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_nombre,
               new
               {
                   htmlAttributes = new
                   {
                       @class = "text-center form-control",
                       @readonly = "readonly"
                   }
               })
            </div>
        </div>
        <div class="row mt-12 pl-2">
            <div style="width:90px"></div>
            <div class="col-10 col-sm-10 col-md-10">
                <div>
                    <label class="font-weight-bolder">
                        Descripcion de la Actividad:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_descripcion,
               new
                    {
                        htmlAttributes = new
                        {
                            @class = "text-center form-control",
                            @readonly = "readonly"
                        }
                    })
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="row mt-12 pl-2">
            <div style="width:90px"></div>
            <div class="col-5 col-sm-5 col-md-5">
                <div>
                    <label class="font-weight-bolder">
                        Fecha de Inicio del Proyecto:
                    </label>
                </div>
                @Html.EditorFor(model => model.expedienteActDesarrollar.exp_inicio,
               new
                    {
                        htmlAttributes = new
                        {
                            @class = "text-center form-control",
                            @readonly = "readonly",
                            @type = "Date",
                            @Value = fechaProyectoInicio,
                            @id = "expFechaInicio"
                        }
                    })
            </div>
            <div style="width:13px"></div>
            <div class="col-5 col-sm-5 col-md-5">
                <div>
                    <label class="font-weight-bolder">
                        Fecha finalizacion del proyecto :
                    </label>
                </div>
                @Html.EditorFor(model => model.expedienteActDesarrollar.exp_fin,
               new
                    {
                        htmlAttributes = new
                        {
                            @class = "text-center form-control",
                            @readonly = "readonly",
                            @type = "Date",
                            @Value = fechaProyectoFin,
                            @id = "expFechaFin"
                        }
                    })
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="row mt-2 pl-2">
            <div style="width:90px"></div>
            <div class="col-5 col-sm-5 col-md-5">
                <div>
                    <label class="font-weight-bolder">
                        Fecha de inicio de la Actividad:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_fecha_inicio,
               new
               {
                   htmlAttributes = new
                   {
                       @id = "actDesaFechaInicio",
                       @class = "text-center form-control",
                       @onkeydown = "return false",
                       @type = "date",
                       //@Value = Model.actividadesDesarrollarAux.act_desa_fecha_inicio.ToString("yyyy-MM-dd")
                   }
               })
                <div id="error-act-desa-fecha-inicio" class="errordiv"></div>
            </div>
            <div style="width:13px"></div>
            <div class="col-5 col-sm-5 col-md-5">
                <div>
                    <label class="font-weight-bolder">
                        Fecha de finalizacion de la Actividad:
                    </label>
                </div>
                @Html.EditorFor(model => model.actividadesDesarrollarAux.act_desa_fecha_fin,
               new
               {
                   htmlAttributes = new
                   {
                       @id = "actDesaFechaFin",
                       @class = "text-center form-control",
                       @onkeydown = "return false",
                       @type = "date",
                       //@Value = Model.actividadesDesarrollarAux.act_desa_fecha_fin.ToString("yyyy-MM-dd")
                   }
               })
                <div id="error-act-desa-fecha-fin" class="errordiv"></div>
            </div>
        </div>

        <br><br>
        <div class="row mt-2 pl-2">
            <div style="width:90px"></div>
            <div class="col-12 col-sm-12 col-md-12">
                <div class="container-fluid">
                    <div class="row mt-12">
                        <div class="col-12 col-sm-4 col-md-4">
                        </div>
                        <h2>Lista de Trabajadores</h2>
                        <div class="col-12 col-sm-4 col-md-4">
                        </div>
                        <div id="error-usuario-asignado" class="errordiv"></div>
                    </div>
                    <div class="row mt-12">
                        <div class="col-12 col-sm-12 col-md-12">
                            <div style="width:100px"></div>
                        </div>
                        <div class="col-10 col-sm-10 col-md-10">
                            @Html.Partial("_ListaDetalleUsuario", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-12 pl-2">
            <div class="col-12 col-sm-3 col-md-3">
                <button type="button" class="btn btn-success btnModalActividadesDesarrollar1" data-url="@Url.Action("RegistrarAsignacionActividades_Desarrollar", "ActividadesDesarrollar")" data-id-target="#registrarAuditoriaActDesa">
                    <i class="fa fa-check-circle"></i>
                    Registrar Asignacion
                </button>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
                <a href="@Url.Action("Asignacion_Tareas","Administrador",null)" class="btn btn-secondary">
                    <i class="fa fa-backward">
                        Regresar
                    </i>
                </a>
            </div>
        </div>

    </form>
    @Html.Action("_ModalAsignarTrabajadorResponsable", "ActividadesDesarrollar")
    @Html.Action("_ModalRegistrarAuditoriaActividadDesarrollar", "ActividadesDesarrollar")


</div>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <!--<script src="~/Scripts/Scripts_TP/PIERO/scriptsActualizarPlan.js"></script>-->
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <!--<script src="~/Scripts/Scripts_TP/COLOMBO/asignarResponsableActividad.js"></script> -->
    <script src="~/Scripts/Scripts_TP/COLOMBO/AsignarActividades.js"></script>
    <script src="~/Scripts/Scripts_TP/COLOMBO/visualizarDetalleUsuario.js"></script>
}
