@model SWMGEGCSS.Models.GestionarEmpresaViewModel
@{
    

    var list_empresas = Model.listEmpresas;
    Layout = null;

}
<div id="tableExp">
    <div class="container form mt-5">
        <div class="table-responsive mt-4">
            <table class="table">
                <thead class="bg-success">
                    <tr>
                        <th scope="col">RUC</th>
                        <th scope="col">Sigla</th>
                        <th scope="col">Razón Social</th>
                        <th scope="col">Representante legal</th>
                        <th scope="col">N° Contacto</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in list_empresas)
                    {
                        <tr>

                            <td>@item.emp_ruc</td>
                            <td>@item.emp_sigla</td>
                            <td>@item.emp_razon_social</td>
                            <td>@item.emp_representante</td>
                            <td>@item.emp_telefono</td>
                            <td>@item.emp_email</td>

                            <td>

                                <button type="button" class="btn btn-warning">
                                    <i class="fa fa-edit" style="color:white !important"></i>
                                    @Html.ActionLink("Actualizar Empresa", "Actualizar_Empresa", "Empresa", new { emp_ruc = item.emp_ruc }, new { @style = "color: white !important" })
                                </button>
                                @if (item.emp_estado == true)
                                {
                                    <button type="button" class="btn btn-danger btnModal" data-ruc-empresa="@item.emp_ruc" data-url="@Url.Action("_EliminarEmpresa","Empresa", new { emp_ruc = item.emp_ruc })" data-id-target="#ModalEliminarEmpresa">
                                        <i class="fa fa-times-circle" style="color:white !important"></i>
                                        Eliminar
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-success btnModal" data-ruc-empresa="@item.emp_ruc" data-url="@Url.Action("_EliminarEmpresa","Empresa", new { emp_ruc = item.emp_ruc })" data-id-target="#ModalEliminarEmpresa">

                                        <i class="fa fa-check-circle" style="color:white !important"></i>
                                        Activar Empresa
                                    </button>
                                }






                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="row ml-2">
        <div class="col-sm-4 col-md-4 col-12 pagedList" data-exp-target="#tableExp">
            @Html.PagedListPager(list_empresas, page => Url.Action("Gestionar_Empresas", "Gerente", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>    
</div>