  @model SWMGEGCSS.Models.GestionarCuentasViewModel
@{
    Layout = null;
    var lista_cuentas = Model.Plist_cuentas;
}
@section Scripts{
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}

<div id="tableExp">

    <div class="container form-bar mt-5">
        <div class="table-responsive mt-4">
            <table class="table">
                <thead class="bg-success">
                    <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Rol</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in lista_cuentas)
                    {
                        <tr>
                            <td>@item.det_usu_nombre</td>
                            <td>@item.usu_usuario</td>
                            <td>@item.usu_contraseña</td>
                            <td>@item.rol_nombre</td>
                            <td>


                                <button type="button" class="btn btn-info btnModal">
                                    Ver Detalles
                                </button>

                            </td>
                        </tr>
                    }






                </tbody>
            </table>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-sm-4 col-md-4 col-12 pagedList" data-exp-target="#tableExp">
            @Html.PagedListPager(lista_cuentas, page => Url.Action("Gestionar_Cuenta", "Gerente", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>