@model SWMGEGCSS.Models.ExpedienteViewModel
@{
    var list_expedientes = Model.PList_Expedientes;
    var count = 0;
    Layout = null;
}
    <div id="tableExp">
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Proyecto</th>
                                <th scope="col">Nombre del Plan</th>
                                <th scope="col">Fecha de Inicio</th>
                                <th scope="col">Fecha de Fin</th>
                                <th scope="col">Tipo de Servicio</th>
                                <th scope="col">Estado del Proyecto</th>
                                <th scope="col">Costo del Proyecto(S/.)</th>
                                <th scope="col">Acciones del Proyecto</th>
                                <th scope="col">Auditoria del Proyecto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list_expedientes)
                            {
                                count = count + 1;
                                <tr class="text-center">
                                    <th scope="row">@count</th>
                                    <td>@item.exp_nombre</td>
                                    <td>@item.plan_nombre</td>
                                    <td>@item.exp_inicio.ToShortDateString()</td>
                                    <td>@item.exp_fin.ToShortDateString()</td>
                                    <td>@item.tipo_servicio_nombre</td>
                                    <td>@item.est_exp_nombre</td>
                                    <td>@item.exp_ganancia</td>
                                    <td>
                                        @if (item.est_exp_nombre.Equals("Aprobado") || item.est_exp_nombre.Equals("En Ejecucion"))
                                        {
                                            <button type="button" class="btn btn-warning btnModal btnMov" data-id-proyecto="@item.exp_id" data-url="@Url.Action("_ModalProyecto","Expediente")" data-id-target="#ModalProyecto">
                                                <i class="fa fa-edit" style="color:white !important"></i>
                                                <span style="color:white">Modificar</span>
                                            </button>
                                            <button type="button" class="btn btn-danger btnModal btnMov" data-id-proyecto="@item.exp_id" data-url="@Url.Action("_EliminarProyecto","Expediente")" data-id-target="#ModalEliminarProyecto">
                                                <i class="fa fa-times"></i>
                                                Eliminar
                                            </button>
                                        }
                                        @if (item.est_exp_nombre.Equals("Cancelado"))
                                        {
                                            <button type="button" class="btn btn-success btnModal btnMov" data-id-proyecto="@item.exp_id" data-url="@Url.Action("_EliminarProyecto","Expediente")">
                                                <i class="fa fa-check"></i>
                                                Activar Proyecto
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-info btnModal btnMov" data-id-proyecto="@item.exp_id" data-url="@Url.Action("_ConsultarProyecto","Expediente")" data-id-target="#ModalConsultarProyecto">
                                                <i class="fa fa-eye"></i>
                                                Consultar Proyecto
                                            </button>
                                        }
                                        @if (item.est_exp_nombre.Equals("En Ejecucion") && item.cantidad_actividades_desarrollar == item.cantidad_actividades_terminar)
                                        {
                                            <button type="button" class="btn btn-outline-success btnModal btnMov" data-id-proyecto="@item.exp_id" data-url="@Url.Action("_AgregarArchivoMinam","Expediente")" data-id-target="#ModalAgregarArchivoMinam">
                                                <i class="fa fa-award"></i>
                                               Certificado de la MINAM
                                            </button>
                                        }
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info btnMov">
                                            <i class="fab fa-searchengin" style="color:white !important"></i>
                                            @Html.ActionLink("Ver Auditorias", "Visualizar_Auditoria", "Auditoria_Proyecto", new { exp_id = item.exp_id }, new { @style = "color: white !important;text-decoration :none !important; font-size: 16px" })
                                        </button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-12 pagedList" data-exp-target="#tableExp">
                @Html.PagedListPager(list_expedientes, page => Url.Action("Gestionar_Proyectos", "Gerente", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>
    </div>