@model SWMGEGCSS.Models.ExpedienteViewModel
@{
    ViewBag.Title = "Gestionar_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_expedientes = Model.PList_Expedientes;
    var list_estado_expediente = Model.List_Estado_Expediente;
}

<div class="mt-2 ml-4">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">Nombre del Proyecto: </label>
                </div>
                <input type="text" class="form-control" id="searchTerm" name="searchTerm" data-exp-autocomplete="@Url.Action("Autocomplete")" />
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">Seleccione una opción</label>
                </div>
                <select class="custom-select" id="estado" name="estado">
                    <option value="Todos">Todos</option>
                    @foreach (var item in list_estado_expediente)
                    {
                        <option value="@item.est_exp_nombre">@item.est_exp_nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4">
                <button class="btn btn-primary rounded-pill" id="Buscar">
                    <i class="fa fa-search"></i>
                    Buscar Proyecto
                </button>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="@Url.Action("Registrar_Proyecto","Expediente")" class="btn btn-success rounded-pill">
                    <i class="fa fa-plus-circle"></i>
                    Registrar Nuevo Proyecto
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
            </div>
        </div>
        @Html.Partial("_ListaProyecto",Model)
    </div>
</div>
@Html.Action("_ModalProyecto","Expediente")
@Html.Action("_EliminarProyecto","Expediente")
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/Scripts_TP/MIRANDA/scriptsGestionarPlanProyecto.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}


