@model SWMGEGCSS.Models.GestionarEmpresaViewModel
@{
    ViewBag.Title = "Gestionar_Empresas";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_empresas = Model.listEmpresas;
}



<h2>Gestionar_Empresas</h2>

<div class="container form mt-5">
    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Id</th>
                    <th scope="col">Sigla</th>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Representante legal</th>
                    <th scope="col">N° Contacto</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in list_empresas)
                {
                <tr>

                    <td>@item.emp_id</td>
                    
                    <td>@item.emp_sigla</td>
                    <td>@item.emp_razon_social</td>
                    <td>@item.emp_representante</td>
                    <td>@item.emp_telefono</td>
                    <td>@item.emp_email</td>
                    
                    <td>
                        <button type="button" class="btn btn-warning">
                            @Html.ActionLink("Actualizar Empresa", "Actualizar_Empresa", "Empresa", new { emp_id = item.emp_id }, new { @style = "color: white !important" })
                        </button>

                        <button type="button" class="btn btn-warning">
                            @Html.ActionLink("Eliminar Empresa", "_Eliminar_Empresa", "Empresa", new { emp_id = item.emp_id },new { @style = "color: white !important" })
                        </button>
                    </td>
                </tr>
                }



            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-12">
                @Html.PagedListPager(list_empresas, page => Url.Action("Gestionar_Empresas", "Gerente", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>


    </div>
    <div>
        <a href="@Url.Action("Registrar_Empresa","Empresa")" class="btn btn-success rounded-pill">
            <i class="fa fa-plus-circle"></i>
            Registrar Nueva Empresa
        </a>

    </div>


</div>


