@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel
@{
    ViewBag.Title = "Gestionar_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_planes = Model.listPplans;
    var selected_plan = Model.plans_aux;
    var count = 0;
}

<div class="mt-2 ml-4">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">Nombre del Plan: </label>
                </div>
                <input type="text" class="form-control" id="searchTerm" name="searchTerm" data-exp-autocomplete="@Url.Action("CompletarNombrePlanes")" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="@Url.Action("Insertar_Plan","Gerente")" class="btn btn-primary rounded-pill">
                    <i class="fa fa-search"></i>
                    Buscar Plan
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="@Url.Action("Agregar_Plan_de_Proyectos","Plan")" class="btn btn-success rounded-pill">
                    <i class="fa fa-plus-circle"></i>
                    Registrar Nuevo Plan de Proyectos
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Plan</th>
                                <th scope="col">Fecha del Plan</th>
                                <th scope="col">Estado del Plan</th>
                                <th scope="col">Costo del Plan</th>
                                <th scope="col">Tiempo del plan</th>
                                <th scope="col">Funcionalidades de Plan</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list_planes)
                            {
                                count = count + 1;
                                <tr class="text-center">
                                    <th scope="row">@count</th>
                                    <td>@item.plan_nombre</td>
                                    <td>@item.plan_fecha.ToShortDateString()</td>
                                    <td>@item.plan_estado_nobre</td>
                                    <td>@item.plan_costo</td>
                                    <td>@item.plan_tiempo</td>
                                    <td>
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-times"></i>
                                            @Html.ActionLink("Actualizar Plan", "Actualizar_Plan_de_Proyectos", "Plan", new { id = item.plan_id }, new { @style = "color: white !important;text-decoration :none !important" })
                                        </button>
                                        
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-times"></i>
                                            Eliminar Plan
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-12">
                @Html.PagedListPager(list_planes, page => Url.Action("Gestionar_Plan_Proyecto", "Gerente", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
            </div>
        </div>
    </div>
</div>
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MIRANDA/scriptsGestionarPlanProyecto.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}
