@model SWMGEGCSS.Models.GestionarEmpresaViewModel
@{
    ViewBag.Title = "Gestionar_Empresas";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_empresas = Model.listEmpresas;
}



<h2>Gestionar Empresas</h2>

<div class="row mt-2 ml-2">

    <div class="col-12 col-sm-4 col-md-4">
        <div>
            <label class="font-weight-bolder">
                Nombre del Proyecto:
            </label>
        </div>

        <input type="text" class="form-control" id="searchTerm" name="searchTerm" data-exp-autocomplete="@Url.Action("AutocompleteEmpresa")" />

        
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <div>
            <label class="font-weight-bolder">Seleccione una opción</label>
        </div>
        <select class="custom-select" id="estado" name="estado">
            <option value="Todos">Todos</option>
            *foreach (var item in list_estado_expediente)
            {
            <option value="1">Habilitado</option>
            <option value="0">Desabilitado</option>
            }
        </select>
    </div>


</div>

<div class="row mt-3 ml-2">

    <div class="col-12 col-sm-4 col-md-4">
       
            <!--<a href="@Url.Action("Gestionar_Empresa","Gerente")" class="btn btn-primary mx-md-auto">
                <i class="fa fa-search"></i>
                Buscar Proyecto
            </a>-->
        <button class="btn btn-primary rounded-pill" id="Buscar">
            <i class="fa fa-search"></i>
            Buscar Proyecto
        </button> 
        
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <a href="@Url.Action("Registrar_Empresa","Empresa")" class="btn btn-success mx-md-auto">
            <i class="fa fa-plus-circle"></i>
            Registrar Nueva Empresa
        </a>

    </div>




</div>

    @Html.Partial("_ListaEmpresa",Model)
    @Html.Action("_EliminarEmpresa", "Empresa")
       



<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/Scripts_TP/MAURICIO/scriptsConsultarEmpresa.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}




