@model SWMGEGCSS.Models.ExpedienteViewModel
@{
    ViewBag.Title = "Gestionar_Proyectos";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_expedientes = Model.List_Expediente;
    var count = 0;
}

<div class="mt-2 ml-4">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12 col-sm-4 col-md-4">
                <div>
                    <label class="font-weight-bolder">Nombre del Proyecto: </label>
                </div>
                <input type="text" class="form-control" id="searchTerm" name="searchTerm" data-exp-autocomplete="@Url.Action("Autocomplete")" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-4 col-md-4">
                <a href="@Url.Action("Insertar_Proyecto","Gerente")" class="btn btn-primary rounded-pill">
                    <i class="fa fa-search"></i>
                    Buscar Proyecto
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
                <a href="@Url.Action("Insertar_Proyecto","Gerente")" class="btn btn-success rounded-pill">
                    <i class="fa fa-plus-circle"></i>
                    Registrar Nuevo Proyecto
                </a>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-success">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Proyecto</th>
                                <th scope="col">Nombre del Plan</th>
                                <th scope="col">Fecha de Inicio</th>
                                <th scope="col">Fecha de Fin</th>
                                <th scope="col">Tipo de Servicio</th>
                                <th scope="col">Estado del Proyecto</th>
                                <th scope="col">Costo del Proyecto</th>
                                <th scope="col">Acciones del Proyecto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list_expedientes)
                            {
                                count = count + 1;
                                <tr class="text-center">
                                    <th scope="row">@count</th>
                                    <td>@item.exp_nombre</td>
                                    <td>@item.plan_nombre</td>
                                    <td>@item.exp_inicio.ToShortDateString()</td>
                                    <td>@item.exp_fin.ToShortDateString()</td>
                                    <td>@item.tipo_servicio_nombre</td>
                                    <td>@item.est_exp_nombre</td>
                                    <td>@item.exp_ganancia</td>
                                    <td>
                                        <button type="button" class="btn btn-warning">
                                            <i class="fa fa-edit" style="color:white !important"></i>
                                            <span style="color:white">Modificar</span>
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-times"></i>
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/style-autocomplete/jquery-ui.min.css" rel="stylesheet" />
@section Scripts{
    <script src="~/Scripts/Scripts_TP/MIRANDA/scriptsGestionarPlanProyecto.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
}


