@model SWMGEGCSS.Models.Gestionar_I_EViewModel
@{
    ViewBag.Title = "Gestionar_I_E";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
    var list_ing_egr = Model.list_ingresos_egresos;
}

<h2>Gestionar Ingresos y Egresos</h2>



<div class="row mt-3 ml-2">

    <div class="col-12 col-sm-4 col-md-4">

        <!--<a href="@Url.Action("Gestionar_I_E", "Gerente")" class="btn btn-primary mx-md-auto">
            <i class="fa fa-search"></i>
            Buscar Proyecto
        </a>-->
        <button class="btn btn-primary rounded-pill" id="Buscar">
            <i class="fa fa-search"></i>
            Buscar Ingreso o Egreso
        </button>

    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <a href="@Url.Action("Registrar_Ing_Egr","Ing_Egr")" class="btn btn-success mx-md-auto">
            <i class="fa fa-plus-circle"></i>
            
            Registrar Ingreso o Egreso
        </a>

    </div>
    <div class="col-12 col-sm-4 col-md-4">
     

    </div>




</div>




<div id="tableExp">
    <div class="container form mt-5">
        <div class="table-responsive mt-4">
            <table class="table">
                <thead class="bg-success">
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha</th>       
                        <th scope="col">Monto</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in list_ing_egr)
                    {
                        <tr>

                            <td>@item.ing_egr_ingrso

                            </td>
                            <td>@item.ing_egr_nombre</td>
                            <td>@item.ing_egr_descripcion</td>
                            <td>@item.ing_egr_fecha</td>
                           
                            <td>@item.ing_egr_monto</td>

                            <td>
                                <button type="button" class="btn btn-warning">
                                    @Html.ActionLink("Actualizar Ing Egr", "Actualizar_Ing_Egr", "Ing_Egr", new { ing_egr_id = item.ing_egr_id }, new { @style = "color: white !important" })
                                </button>

                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="row ml-2">
        <div class="col-sm-4 col-md-4 col-12 pagedList" data-exp-target="#tableExp">
            @Html.PagedListPager(list_ing_egr, page => Url.Action("Gestionar_I_E", "Gerente", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
</div>



