@model SWMGEGCSS.Models.GestionarPlanProyectoViewModel
@{
    ViewBag.Title = "Gestionar_Plan_Proyecto";
    Layout = "~/Views/Shared/_LayoutEmpresa.cshtml";
}

<h2>Gestionar_Plan_Proyecto</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-group">
    <div>
        <h4 class="h4">AGREGAR PLAN DE PROYECTO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.plans.plan_nombre, htmlAttributes: new { @class = "col-12 col-sm-2" })
        <div class="col-12 col-sm-10">
            @Html.EditorFor(model => model.plans.plan_nombre, new { htmlAttributes = new { @class = "text-center form-control" } })
            @Html.ValidationMessageFor(model => model.plans.plan_nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.plans.plan_fecha, htmlAttributes: new { @class = "col-12 col-sm-2" })
        <div class="col-12 col-sm-10">
            @Html.EditorFor(model => model.plans.plan_fecha, new { htmlAttributes = new { @class = "text-center form-control" } })
            @Html.ValidationMessageFor(model => model.plans.plan_fecha, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.plans.plan_estado, htmlAttributes: new { @class = "col-12 col-sm-2" })
        <div class="col-12 col-sm-10">
            @Html.EditorFor(model => model.plans.plan_estado, new { htmlAttributes = new { @class = "text-center form-control" } })
            @Html.ValidationMessageFor(model => model.plans.plan_estado, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.plans.plan_costo, htmlAttributes: new { @class = "col-12 col-sm-2" })
        <div class="col-12 col-sm-10">
            @Html.EditorFor(model => model.plans.plan_costo, new { htmlAttributes = new { @class = "text-center form-control" } })
            @Html.ValidationMessageFor(model => model.plans.plan_costo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.plans.plan_tipo, htmlAttributes: new { @class = "col-12 col-sm-2" })
        <div class="col-12 col-sm-10">
            @Html.EditorFor(model => model.plans.plan_tipo, new { htmlAttributes = new { @class = "text-center form-control" } })
            @Html.ValidationMessageFor(model => model.plans.plan_tipo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.plans.tipo_servicio_id, htmlAttributes: new { @class = "col-12 col-sm-2" })
        <div class="col-12 col-sm-10">
            @Html.EditorFor(model => model.plans.plan_tipo, new { htmlAttributes = new { @class = "text-center form-control" } })
            @Html.ValidationMessageFor(model => model.plans.plan_tipo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.plans.plan_tiempo, htmlAttributes: new { @class = "col-12 col-sm-2" })
        <div class="col-12 col-sm-10">
            @Html.EditorFor(model => model.plans.plan_tiempo, new { htmlAttributes = new { @class = "text-center form-control" } })
            @Html.ValidationMessageFor(model => model.plans.plan_tiempo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-12">
            <button class="btn btn-success">
                <i class="fa fa-check-circle"></i>
                Nuevo Plan de Proyecto
            </button>
        </div>
    </div>
</div>
}


