
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_LayoutCliente</title>
    <link rel="stylesheet" href="~/Content/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/Content/animate/animate.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout_Empresa/alertaservicio.css" />
    <link rel="stylesheet" href="~/Content/animate/animate.css" />
    <link rel="stylesheet" href="~/Content/StyleTP/styleClient.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-md navbar-light">
        <a class="navbar-brand" href="#">
            <img src="~/images/GEO-LOGO-FINAL-IDCG.png" class="img-fluid rounded" width="120" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEmpresa" aria-controls="navbarEmpresa" aria-expanded="false" aria-label="Navegacion de la Empresa">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarEmpresa">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")">
                        <i class="fa fa-play"></i>
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")">
                        <i class="fa fa-users"></i>
                        Quienes Somos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")">
                        <i class="fa fa-paper-plane"></i>
                        Servicios que Brindamos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")">
                        <i class="fa fa-user-tie"></i>
                        Clientes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")">
                        <i class="fa fa-link"></i>
                        Enlaces de Interes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")">
                        <i class="fa fa-gavel"></i>
                        Normatividad
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")">
                        <i class="fa fa-directions"></i>
                        Contactenos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-inicio" href="@Url.Action("Inicio","Cliente")" data-toggle="modal" data-target="#modalinicio">
                        <i class="fa fa-sign-in-alt"></i>
                        Iniciar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <div class="modal fade" id="modalinicio" tabindex="-1" role="dialog" aria-labelledby="titulomodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulomodal">Iniciar Sesion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Woohoo, you're reading this text in a modal!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/fontawesome/fontawesome.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.js"></script>
    <script src="~/Scripts/scrollmagic/scrollmagic.js"></script>
    <script src="~/Scripts/script-autocomplete/jquery-ui-min.js"></script>
    <script src="~/Scripts/Scripts_TP/scriptsCliente.js"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="c326a13879583a964fd0aec1-|49" defer=""></script>
    @RenderSection("scripts", required: false)
</body>
</html>
